<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_day2_aop:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_day2_aop_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_day2_aop" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="module" name="JUnit4" module-name="spring_day2_aop" />
          <element id="library" level="project" name="com.springsource.org.aopalliance-1.0.0" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="spring_day2_aop/web/Web" />
    </root>
  </artifact>
</component>